<!DOCTYPE html>
<html lang="de">
  <head>
      <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27</title>
  </head>
  <body>
    <header>Herzlich Willkommen bei der N27 Bank</header>
    <p>
        <button type="button">Kontostand</button>
    <p>
        <button type="button">Einzahlen</button>
    <p>
  <img src="Icon_bank_sentral.png" alt="Bank Logo" width="32" height="32">  
  <a href="hppts://berufskolleg-borken.de" target="_bank" >BKB</a>
    <footer>Impessum</footer>

  <table border="1">
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>N27 Bank</td>
      <td>Mrs.Benson</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>

<ol type="1">
  <li>Liestenelement</li>
  <li>Liestenelement</li>
  <li></li>
  <li></li>
</ol>  

<ul>
  <li>Liestenelement</li>
</ul>

<p> &#11088;</p>

  </body>
</html>

<div>
  Hallo
</div>
