<!DOCTYPE html>
<html lang="de">
  <head>
      <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27</title>
  </head>
  <body>
    <header>Herzlich Willkommen bei der N27 Bank</header>
    <p>
        <button type="button">Kontostand</button>
    <p>
        <button type="button">Einzahlen</button>
    <p>
  <img src="Icon_bank_sentral.png" alt="Bank Logo" width="32" height="32">  
  <a href="hppts://berufskolleg-borken.de" target="_bank" >BKB</a>
    <footer>Impessum</footer>
  </body>
</html>

<div>
  Hallo
</div>