<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <title>N27 - Über uns</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="rahmen">
        <div class="kopf">
            <h1>N27 - Über uns</h1>            
        </div>
        <div class="navigationsleiste">
            <a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>  
            <a href="/about"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>  
            <a href="/login"></a><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
            <a href="/profil"></a><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
            
        </div>
        <div class="inhaltsbereich" ></div>
            <h2> KUNDE</h2>
            <p> Telefon: 02861 913218-00</p>
            <p> Lisa E. </p>
            <p> Email: </p>


        </div>
        
        <div class="fusszeile">
            &copy; 2022 GW21
        </div>
    </div>
</body>
</html>