body {
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(23, 10, 95);
    background-image: url("Hintergrund.jpg");
    font-size: large;
}

div {
    background-color: blue;
 }

ul{ 
    list-style: square inside url("Icon.gif");
}